<nav class="bg-white">
  <div id ='nav' class="flex items-center justify-between content-end flex-wrap bg-white p-5 shadow-lg">
<!-- Menu hamburguesa-->
    <div class="block">
        <button id='menu' class="flex items-center px-3 py-2">
        <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>
<!-- Menu hamburguesa-->

<!-- Barra de busqueda-->
    <div data-controller="maps" class="pt-1 pl-6 relative mx-0 text-gray-600 grid grid-cols-3 w-10/12">
        <input class="col-span-3 w-border-2  bg-gray-100 h-10 px-9 w-11/12 pr-16 rounded-lg text-sm focus:outline-none
          type="search" name="search" placeholder="Escribe tu dirección" data-maps-target="field" data-action="keydown->maps#preventSubmit" >
    </div>
<!-- Barra de busqueda-->

 <!-- Icono -->
    <div class="flex items-center flex-auto text-black mr-6 fill-current h-8 w-8 mr-2">
      <%= image_tag "logo_navbar.png"%>
    </div>
<!-- Icono -->
  </div>

  <div id="menu" class="px-5 pt-2 pb-4 hidden">
  </div>
</nav>
