<nav>
  <div id ='nav' class="navbar">
    <!-- Menu hamburguesa-->
    <div class="navbar-hamburguer navbar-mr">
      <button id='menu'>
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <!-- Menu hamburguesa-->
    <!-- Barra de busqueda-->
    <div class="pt-1 pl-6 relative mx-0 text-gray-600 grid grid-cols-3 w-10/12">
      <input class="input-field flex-grow navbar-mr-input type="search" name="search" placeholder="Escribe tu dirección" data-maps-target="field" data-action="keydown->maps#preventSubmit" >
    </div>
    <!-- Barra de busqueda-->
    <!-- Logo -->
    <%= image_tag "tribo-logo-dark.svg", class: 'navbar-logo'%>
    <!-- Logo -->
  </div>
  <div id="menu" class="px-5 pt-2 pb-4 hidden">
  </div>
</nav>
