<div class="h-screen flex flex-col items-center justify-center py-16 px-6 md:py-24 md:px-12 text-center">
  <%= image_tag("tribo-logo.svg", class: "max-w-1xs md:max-w-lg lg:w-6/12 mb-8 md:mb-24") %>
  <h6 class="header-6 md:w-1/2 mb-8 md:mb-16">Conecta con comercios y vendedores cerca de ti que pueden enviar lo que necesitas de ellos.</h6>

  <div class="flex flex-col items-center w-full mb-12 md:mb-32">
    <h3 class="header-3-4 md:w-9/12 mb-3 md:mb-4">Empieza ahora mismo</h3>
    <%# Input for FUTURE address autocomplete and redirection to main page %>
    <input id="main-search-bar" class="input-field w-full md:w-9/12" type="search" name="search" placeholder="Escribe tu dirección" data-maps-target="field" data-action="keydown->maps#preventSubmit" >

    <%# Temporary link to go to main page %>
    <%= link_to "Quiero ver negocios", market_places_path, class: "small" %>
  </div>

  <h3 class="header-3-4 md:w-9/12 mb-6 md:mb-8">¿Quieres anunciar tu negocio?</h3>
  <%= link_to "Inicia sesion", sign_up_path, class: "button btn-sec w-1/2 mb-4 md:mb-6"%>
  <%= link_to "Registrate", sign_up_path, class: "button w-1/2 btn-prim"%>
</div>
