/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "tailwindcss/base";
 @import "tailwindcss/components";
 @import "tailwindcss/utilities";


h1 {
  @apply text-4xl md:text-5xl xl:text-6xl;
}
h2 {
  @apply text-2xl md:text-3xl xl:text-4xl;
}
h3, h4 {
  @apply text-xl md:text-2xl xl:text-3xl;
}
h5, h6 {
  @apply text-lg md:text-xl xl:text-2xl;
}
p, a, input {
  @apply text-sm md:text-base xl:text-lg;
}

/*
.submit {
  @apply bg-transparent bg-cover inline-block h-24 text-base py-4 px-8 text-white no-underline font-bold;
}

.products { 
  background-image: url( 
'https://www.flaticon.es/svg/static/icons/svg/1524/1524711.svg'); 
}
.services { 
  background-image: url( 
'https://www.flaticon.es/svg/static/icons/svg/1514/1514552.svg'); 
} 
.food { 
  background-image: url( 
'https://www.flaticon.es/svg/static/icons/svg/857/857755.svg'); 
} 

.all { 
  background-image: url( 
'https://www.flaticon.es/svg/static/icons/svg/684/684850.svg'); 
}
*/
